html,
body {
  background-color: black;
  font-family: "Montserrat", sans-serif !important;
  overflow: hidden;
}
.r-overflowX-lltvgl {
  overflow: hidden;
}
.r-overflowY-1rnoaur {
  overflow: hidden;
}
